.header-one {
  color: rgb(144, 5, 5);
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  padding: 20px;
  border: 20px dotted black;
  height:50px;
  width:800px;
  /* box-sizing: border-box; */
}

.link {
  color: rgba(255, 0, 0, 0.6);
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin: 10px;
  border: 0px solid white;
  display: block;
}

img {
  height: auto;
  width: 500px;
}

.recipe-title {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: black
}

.bolognese {
  color: brown
}

.dumplings {
  color: rgb(245, 168, 91);
}

.fried-rice {
  color: rgb(245, 219, 75)
}